
.navbar-nav li a{
  font-size: 22px;
}
.navbar-brand{
  letter-spacing: 6px;
}
.card{
  transition: all 0.5s ease;
}
.card:hover{
  transform: scale(1.1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.sortbtn{
  display: flex;
  justify-content: space-around;
}
.cont2{
  height: 600px;
  width: 1700px;
  display: flex;
  margin-top: 1%;
  margin-left: 6.5%;
}
.cont2in{
  width: 32%;
  height: 100%;
  margin-right: 2%;
 
 
}
.cont2in>img{
  border-radius: 38px;
  cursor: pointer;
}
.cont2in>h3{
  justify-content: space-around;
  padding: 20px 220px 12px;

}
.center{
text-align: center;
margin-top: 1%;
margin-bottom: 1%;
}
.images{
  margin-top: 4%;
}
.carousel-inner{
  cursor: pointer;
}
.product img{
  margin-top: 11%;
  transition: all 0.5s ease;

}
.product img:hover{
  transform: scale(1.1);
}
.foter{
  margin-top: 2%;
  background-color: black;
  color: white;
}
.container2{
  display: flex;
  width: 92%;
  margin: auto
}
.container2>div{
  /* border: solid red; */
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.container2in{
  width: 50%;
  margin-right: 2%;
}
.container2in>img{
  border-radius: 4%;
}
.load{
text-align: center;
 margin-top: 2%;
  
}
.payment{
  text-align: center;
}

.plus{
  background-color: transparent;
  border-radius: 20%;
}

.paydiv{
  height: 600px;
  width: 70%;
  
}

#mypay{
  margin-top: 2%;
  margin-bottom: 9%;
  font-size: 33px;
}

.paymentBox{
  margin: auto;
  padding: 2% 4%;
  width: 30%;
  height: 530px;
  margin-top: 2%;
  text-align: center;
  border: 2px dotted black
  /* background: rgb(249,241,204); */
  /* background: radial-gradient(circle, rgb(230, 253, 255) 26%, rgb(112, 180, 185) 100%); */
}

#paymentBtn{
  margin-top: 5%;
  padding: 3% 15%;
  margin: auto;
  background-color:transparent;
  color: blue;
  border: 1px solid blue;
  
  
}
#paymentBtn:hover{
  background-color: rgb(79, 108, 223);
  color: white;
}
.paySuccess{
  width: 60%;
  margin: auto;
  height: 500px;
  margin-top: 1%;


}
#bt{
  text-align: center;
  
}